* {box-sizing: border-box;
margin: 0;
padding: 0;
}


body {
    background-color: #f3ede9;
}
.topo {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 20px;
    align-items: center;

}
.topo img {
    width: 340px;
    height: 140px;
    
    align-items: center;
    justify-content: center;
    border-radius: 45px;
}

.curiosidades {display: flex;
    align-items: center;
    
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 15px;
}
.titulocuriosidades,.titulovideo {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #3C2313;

}
nav {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    height: 330px;
    gap: 15px;
}
.topo nav a {

    min-width: 220px; 
    padding: 15px;
    border: 3px solid #3C2313;
    border-radius: 20px;
    color: #3C2313;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    text-align: center;}

.Cabeçalho {width: 100%;
    height: 275px;
    border: 3px solid  #3C2313;
    display: flex;
    align-items: center;
    flex-direction: column;
background-image: url(farolsantander.jpg);
background-size: 100%;
background-repeat: no-repeat;
}



.cards {
    width: 335px;
    height: 550px;
padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    
    background: #f3ede9;
    border-radius: 20px;
    border: 3px solid  #3C2313;
}
.cards img {
    width: 80%;
    height: 40%;
    border-radius: 10px;
}

.cards p {
    padding: 0px 45px 0px 45px;
    text-align: justify;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3C2313;
}

.cards h1 {
    width: 70%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #3C2313;

}
h2 {width: 70%;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
text-align: center;
color: #3C2313;}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f3ede9;
    align-items: center;
    
}  


.video2{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.Video {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   
    margin: 10px;
    padding: 20px;
    background: #f3ede9;
    border-radius: 20px;
    
}
.Video iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    border: 3px solid  #3C2313;

}


.contatos {width: 100%;
    height: fit-content;
    background: #f3ede9;
    border: 3px solid #3C2313;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}
.contatocard {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contatocard > a > img {
    width: 50px;
    border-radius: 100%;
    border: 5px solid #3C2313;
    
}

.contatocard > a:hover {
    opacity: 0.5;
}

.contatocard > h2 {
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
}
@media (min-width:1024px) {

    .topo {
        display: flex;
        flex-direction: row;
        width: 100vw;
        height: 210px;
        justify-content: space-evenly;
    }

    nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
    
    } 

    .curiosidades {
        display: flex;
        flex-direction: row;
    }

    .titulocuriosidades{
        padding-top: 15px;
    }

    
    
    .Video iframe {
        width: 800px;
        height: 500px;

    }
    .contatos{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;

   
